/** @format */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
	font-size: 62.5%;
}

body {
	background-color: #c0c5ce;
	color: #202020;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 100vw;
	height: 100%;
	padding: 8rem 8%;
}

.info--container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.info--container h1 {
	font-size: 24px;
	margin-bottom: 1.2rem;
	font-weight: 600px;
	text-transform: uppercase;
}

.info--container h2 {
	margin: 12px 0;
	font-size: 20px;
}

.info--container p {
	font-size: 16px;
	font-weight: 400;
}

.team__cards--container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 15px;
	grid-row-gap: 25px;
}

.team__cards {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: justify;
}

.team__cards--container .team__cards:nth-child(even) {
	padding-top: 14rem;
}

.team__cards--container .image--wrapper {
	width: 100%;
}

.image--wrapper img {
	width: 80%;
	border-radius: 5px;
	box-shadow: 3px 3px 7px 1px #696c70;
}

small {
	font-weight: 500;
	font-size: 10px;
	padding-bottom: 55%;
	writing-mode: vertical-lr;
}

footer {
	height: 100%;
	padding: 2rem;
	text-align: center;
}

@media (min-width: 700px) {
	.team__cards--container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	small {
		font-size: 14px;
		padding-bottom: 75%;
	}
}
